@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "نيسان كلمة السر";
}

<h1 style="font-family: Cairo;direction:rtl">@ViewData["Title"]</h1>
<p>
     الرجاء النقر على الرابط المرسل الى الايميل الخاص بك لاغراض اعادة كلمه السر
</p>

